<h2 id="title">Ember CLI Cloudinary Images</h2>

{{c-img account="happysale" media="cdn/common/logo"}}
<hr>

{{c-img account="happysale" w="100" media="cdn/common/logo"}}
<hr>

{{c-img account="happysale" namespace="twitter_name" w="100" media="iamdevloper"}}
<hr>

{{c-img account="happysale" namespace="twitter_name" w="100" filters="r_10" media="iamdevloper"}}
<hr>

{{c-avatar account="happysale" network="twitter_name" user="iamdevloper"}}
<hr>
